<h2>by country</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="search()" autocomplete="off">
            <input
            type="text"
            class="form-control"
            name="term"
            [(ngModel)] = "term"
            placeholder="Search Country"
            />
        </form>
    </div>
</div>
<hr>
<div *ngIf="thereIsError" class="alert alert-danger">
    There was not found results with {{term}} term.
</div>
<div class="row">
    <div class="col">
        <table *ngIf="!thereIsError" class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Flag</th>
                    <th>Name</th>
                    <th>Population</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Flag</td>
                    <td>Name</td>
                    <td>Population</td>
                    <td>
                        <a href="/country/mex">Look...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>