<table *ngIf="!thereIsError" class="table table-hover">
    <thead *ngIf="countries.length > 0">
        <tr>
            <th>#</th>
            <th>Flag</th>
            <th>Name</th>
            <th>Population</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries">
            <td>{{countries.indexOf(country) + 1}}</td>
            <td>
                <img
                    class="flag-style"
                    src="{{country.flag}}"
                    alt="Flag of {{country.name}}"
                >
            </td>
            <td>{{country.capital}}, {{country.name}}</td>
            <td>{{country.population | number}}</td>
            <td>
                <a [routerLink]="['/country', country.alpha3Code]" href="/country/mex">Look...</a>
            </td>
        </tr>
    </tbody>
</table>